doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TrendPhotoSharing
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")



    body 

        div.app 
            header.header 
                span.header_title TrendPhotoSharing
                input.header_text(type="text" autocapitalize="none" placeholder="검색")

            block content
            footer.footer   
                    br
                    br
                    h2  (주) 첫눈에 난 내 사랑인걸 알았조 | 대표 오은하 | 직원 노광현 박여원  | 
                    br
                    h2  소개 | 도움말 | 홍보 | 센터 | API | 채용 정보 |    개인 정보 처리 방침 | 약관 | 위치 | 인기 |  계정 | 해시 태그 | 
                    br
                    h2 © 2021 TPS FROM 4LEAF_EDUCATION
                 

                





