extends ../layouts/main.pug

block content
            .app__col1 
                .app__col2 
                .app__col3  
                .app__col4
                    .app__col4__1
                    .app__col4__2    
                    .app__col4__3  