extends ../layouts/main.pug

block content
        .app
            .app__col1 
            .app__col2 
            .app__col3  
                .app__col3__1 
                .app__col3__2 
                .app__col3__3