extends ../layouts/main.pug

block content
        .firend
                .firend_main
                        .firend_col1
                        .firend_col2
                                .firend_col2_col1
                                        .firend_col2_col1_col1 ididididi
                                        .firend_col2_col1_col2
                                                button.button 팔로우
                                                
                                        
                                                

