extends ../layouts/main.pug

block content
        .friend
                .friend_main
                        .friend_col1
                        .friend_col2
                                .friend_col2_col1
                                        .friend_col2_col1_col1 ididididi
                                        .friend_col2_col1_col2
                                                button.button 팔로우

                                        
                                                

