extends ../layouts/main.pug

block content
      .home_post
        .post_story 
          .story 
            .story_img
              .story_id   ididid 
            .story_img
              .story_id   ididid 
            .story_img
              .story_id   ididid 

          .home__main       
            .main__post
              .main__post__col1 
                .col1-1   
                  .col1-1_img  
                  .col1-1__id idididididdididdidid
      
        .side  
          .side_img
          .side_id   dafddaf    
          .side_img
          .side_id   adfadf   
          .side_img
          .side_id   asdfsdaf    