extends ../layouts/main.pug

block content
    .story 
      
      .story_img
      .story_id   ididid 
      .story_img
      .story_id   ididid 
      .story_img
      .story_id   ididid 

    
    .main
      .main__post
        .main__post__col1  
  
          .col1-1
            .col1-1_img  
            .col1-1__id idididididdididdidid
    .side
          
