block content
    .loginSearch
        input.loginSearch__search(type="text" placeholder="이메일")
        input.loginSearch__search(type="text" placeholder="비밀번호")
    .loginBtn
        button.login__btn 로그인
        button.login__btn 회원가입
