extends ../layouts/main.pug

block content
    .post
        .post_main 
            .post_col1 
            .post_col2
                .post_col2_col1
                    .post_col2_col1_col1 ididid 
                    .post_col2_col1_col2
                        a(href="/privacy")
                            button.button 프로필 설정
                    .post_col2_col1_col3
                        i.fas.fa-cog.fa-2x 

                .post_col2_col2
                    a.post_col2_col2_col1.aTag   게시물
                    a.post_col2_col2_col2.aTag   팔로워
                    a.post_col2_col2_col3.aTag   팔로우
                .post_col2_col3
                    .post_col2_col3_col1    nickname 
        block post

