extends ../layouts/main.pug

block content
    .privacy
        .privacy_1
            h2.privacy__h2 idididi
            .privacy__2
                .privacy__3 
                    h2.privasy_h2  프로필 변경
                .privacy__4 
                    h2.privasy_h2 비밀번호 변경
                

