extends ../layouts/main.pug

block content
    .privacy
        .privacy_1
            .privacy__2
                    h2.privasy_h2.user  프로필 변경
                    h2.privasy_h2 비밀번호 변경
                    
                

