<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign  in
        link(rel="stylesheet", href="/styles/styles.css")
    body
        .loging
            .login
            .loginSearch
                h2.login_text Sign in

                input.login__search(type="text" placeholder=" ID")
                input.login__search(type="password" placeholder="PassWord")
                .loginBtn
                    a(href="/home") 
                        button.login__btn  Sign in
                    a(href="/signup")
                        button.login__btn Sign up
                        
