<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title Document
    body
        .signuping
            .signup
            .signupSearch
                h2.signup_text Sign up

                input.signup__search(type="text" placeholder=" name")
                input.signup__search(type="text" placeholder=" Email")
                input.signup__search(type="text" placeholder=" ID")
                input.signup__search(type="password" placeholder="PassWord")
                input.signup__search(type="password" placeholder="Confirm Password")

                .signupBtn
                    a(href="/signin")
                        button.signup__btn Sign up
                        
