.app {
  background-color: rgb(250, 250, 250);
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  border: 0.5px solid grey;
  background-color: #fff;
}

.header_title {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  margin-top: 20px;
  color: #040c14;
  margin-left: 3%;
}
.header .header_text {
  width: 250px;
  height: 30px;
  margin-top: 2%;
  margin-left: 40%;
  border: 0.5px solid grey;
  outline: none;
  border-radius: 2px;
}

.footer {
  margin-top: 5%;
  width: 100%;
  height: 30vh;
  color: #b2bec3;
  background-color: #040c14;
}

.footer h2 {
  margin-left: 10%;
}
