.header {
  width: 100%;
  height: 10vh;
  background-color: #e8f7fd;
}
.header_title {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  margin-top: 20px;
  color: #040C14;
}
.header .header_text {
  width: 220px;
  height: 30px;
  margin-top: 2%;
  margin-left: 40%;
  border: none;
  outline: none;
  border-radius: 2px;
  
}

.footer{
  
  margin-top: 5%; 
  width: 100%;
  height: 30vh;
  color: #b2bec3;
  background-color:  #040C14;

}

.footer h2{
  margin-left: 10%;

}
