.home_post {
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: row;
}
.post_story {
  width: 80%;
  height: 100vh;
}
.story {
  width: 68%;
  height: 20vh;

  background-color: #e8f7fd;
  border-radius: 5px;
  box-shadow: 2px 3px 4px gray;

  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.story_img {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXx9TVaNO4LYXJv-f8sytA7MCFkB40HZrRVg&usqp=CAU");
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  margin-left: 20px;
}

.main {
  width: 70%;
  height: 70vh;

  display: flex;
  flex-direction: row;
  border-radius: 5px;

  margin-left: 10%;
  margin-top: 5%;
}

.main .main__post {
  width: 100%;
  height: 90vh;
  background-image: url("https://i.pinimg.com/474x/0a/99/c1/0a99c1ae90550aa1b6949169c7266c20.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 2px 3px 4px gray;
}

.main .main__post .main__post__col1 {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 5px;
}

.col1-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col1-1 .col1-1_img {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXx9TVaNO4LYXJv-f8sytA7MCFkB40HZrRVg&usqp=CAU");
  width: 33px;
  height: 33px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}
.side {
  width: 40%;
  height: 80vh;
  background-color: #e8f7fd;
  border-radius: 5px;
  box-shadow: 2px 3px 4px gray;

  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  flex-direction: column;
}

.side_img {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXx9TVaNO4LYXJv-f8sytA7MCFkB40HZrRVg&usqp=CAU");
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  margin-left: 2%;
  display: flex;
}
