.post {
  width: 100%;
  height: 100vh;
}
.post_main {
  width: 70%;
  height: 50%;

  margin-left: 20%;
  display: flex;
  flex-direction: row;
}
.post_col1 {
  width: 40%;
  height: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXx9TVaNO4LYXJv-f8sytA7MCFkB40HZrRVg&usqp=CAU");
  background-size: cover;

  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  border-radius: 100%;
}
.post_col2 {
  width: 70%;
  height: 100%;
}
.post_col2_col1 {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;
}
.post_col2_col1_col1 {
  font-size: 40px;
  font-weight: 600;
  justify-content: center;
}
.button {
  height: 50%;
  width: 100%;
  margin-left: 30%;
  background-color: #f5f6fa;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: 0.7px solid gray;
}
